#mobile{
	background-size: 100% 100%;
	background-position: center top;
	background-image: url(../img/mobile-background.jpg);
	position: relative;
	width: auto;
	padding-top: lp(405, 640);

	.pagetop{
		@include Item(640, 618, 0, 0, 0, 0, 640);
		top: 0;
		left: 0;
		img{
			@include SubItem();
		}
	}
	.pagetop2{
		@include Item(640, 569, 0, 0, 0, 0, 640);
		top: 0;
		left: 0;
		img{
			@include SubItem();
		}
	}

	.avatar{
		// border: 3px solid #00631b;
		border-radius: 50%;
		@include Item(112, 100, 405, 0, 42, 0, 640);
		img{
			border-radius: 50%;
			@include SubItem();
			height: auto;
		}
	}

	.welcome{
		color: #00631b;
		margin-top: lp(1, 640);
		margin-left: lp(171, 640);
		line-height: 1.5;
		font-weight: 400;
		padding-right: 1em;
	}

	.type-title{
		color: #00631b;
		margin-top: lp(135, 640);
		line-height: 1.5;
		font-weight: 300;
	}

	.girl{
		@include Item(576, 563, 33, 0, 33, 0, 640);
		position: relative;
		img{
			@include SubItem();
			height: auto;
		}
	}
	.expert{
		@include Item(640, 584, 16, 0, -1, 0, 640);
		position: relative;
		img{
			@include SubItem();
		}
	}

	.description{
		margin: lp(75, 640) lp(55, 640);
		color: #636363;
		line-height: em(58,37);
	}

	.analysis{		
		@include Item(504, 0, 58, 0, 66, 0, 640);
		height: auto;
		position: relative;
		color: #2e2522;
		.highlight{
			color: #8fc72a;
			&.down, &.up{
				&:before{
					@include Item(29*2, 25*2, -3, 0, -45, 0, 180);
					width: em(29, 31);
					padding-top: em(25, 31);
					content:'';
					position: relative;
					display: inline-block;
					background: url(../img/mobile-down.png) 0 0 /cover;
				}
			}
			&.down{
				&:before{
					background: url(../img/mobile-down.png) 0 0 /cover;
				}
			}
			&.up{
				&:before{
					background: url(../img/mobile-up.png) 0 0 /cover;
				}
			}
		}
		.header{
			display: block;
			height: 2em;
			span {
				border-left: 1px solid #2e2522;
				line-height: 0.8em;
				display: inline-block;
				padding-left: lp(15, 633);
				// padding-right: lp(42, 633);
				margin-top: lp(35, 633);
				left: 0;
				position: absolute;
				&:nth-child(2){
					margin-left: lp(220, 633);
				}
				&:nth-child(3){
					margin-left: lp(417, 633);
				}
			}
			border-bottom: 1px solid #2e2522;
		}

		.scale{
			@include Item(504, 76, 25, 0, -1, 0, 504);
			line-height: 1em;
			position: relative;
			display: block;
			white-space: nowrap;
			.context{
				@include SubItem();
			}
			figure{
				@include SubItem();
				top: auto;
				bottom: 0;
				height: lp(23, 76);
				background: url(../img/mobile-bar.png) no-repeat left bottom/auto 100%;
			}
		}
		.three{
			position: relative;
			padding-top: lp(240, 504);
			figure{
				&:nth-child(1){
					@include Item(105, 106, 84, 0, 15, 0, 504);
					img{
						@include SubItem();
					}
					figcaption{
						@include Item(180, 80, 142, 0, -30, 0, 105);
						white-space: nowrap;
						.text{
							@include SubItem();
						}
						label{
							font-weight: 300;
						}
					}
				}
				&:nth-child(2){
					@include Item(98, 115, 80, 0, 214, 0, 504);
					img{
						@include SubItem();
					}
					figcaption{
						@include Item(180, 80, 146, 0, -30, 0, 98);
						white-space: nowrap;
						.text{
							@include SubItem();
						}
						label{
							font-weight: 300;
						}
					}
				}
				&:nth-child(3){
					@include Item(79, 123, 74, 0, 412, 0, 504);
					img{
						@include SubItem();
					}
					figcaption{
						@include Item(180, 80, 150, 0, -45, 0, 79);
						white-space: nowrap;
						.text{
							@include SubItem();
						}
						label{
							font-weight: 300;
						}
					}
				}
			}
		}
	}

	.many-collapse{
		margin-top: lp(-100, 640);
	}
	.collapse-btn{
		// margin: lp(77, 640) lp(87, 640);
		@include Item(391, 62, 11, 0, 48, 0, 640);
		cursor: pointer;
		margin-bottom: lp(62, 640);
		position: relative;		
		font-weight: 300;
		background: url(../img/collapse-bar.png) no-repeat;
		label{
			@include SubItem();			
			line-height: em(60,37);
			padding-left: lp(28, 640);
			color: #fff;
			text-decoration: none;
			font-weight: 300;

			&:after{
				transition: transform 0.3s linear 0s;
				@include Item(84, 84, -11, 0, 355, 0, 391);
				content: '';
				background: url(../img/collapse-btn.png) no-repeat center/cover;
			}
		}
	}
	.recommend-title{
		@include Item(524, 63, 139, 0, 48, 0, 640);
		position: relative;
		font-weight: 300;
		background: url(../img/mobile-analytic-title.png) no-repeat 0 0/100% auto;
		span{
			@include SubItem();			
			line-height: em(70,37);
			padding-left: lp(28, 640);
			color: #fff;
		}
	}
	.collapse-container{
		.collapse-content{
			margin-top: 0;
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: height 0s linear 0.25s, opacity 0.25s linear 0s;
		}

		input:checked ~ .collapse-btn label:after{
			transform: rotateX(-180deg);
		}

		input:checked ~ .collapse-content{
			height: auto;
			min-height: 5em;
			opacity: 1;
			margin-top: lp(0, 640);
			transition: margin-top 0s linear 0s, height 0s linear 0s, opacity 0.25s linear 0s;
		}
	}


	.neutro{
		color: #00631a;
		padding: 0 1.5em 0 2.5em;
		p{
			color: #636363;
		}
		li{
			margin-bottom: lp(80, 640);
			line-height: 1.8em;
			letter-spacing: 0.1em;
		}
	}
	.notice{
		@include Item(615, 453, 10, 0, 12.5, 0, 640);
		position: relative;
		img{
			@include SubItem();
			height: auto;
		}
	}

	.notice-text{
		color: #00631a;
		padding: 0 1.5em 0 3.5em;
		margin-bottom: lp(45, 640);
		p{
			color: #636363;
		}
		li{
			list-style: none;
			counter-increment: i;
			margin-bottom: lp(35, 640);
			line-height: 1.8em;
			letter-spacing: 0.1em;
			&:before{
				content: counter(i)'/ ';
				margin-left: -1.5em;
			}
		}
	}
	.tip{
		@include Item(615, 453, 1, 0, 12, 0, 640);
		position: relative;
		img{
			@include SubItem();
			height: auto;
		}
	}
	.tip-text{
		color: #00631a;
		padding: 0 1.5em 0 3.5em;
		margin-bottom: lp(45, 640);
		p{
			color: #636363;
		}
		li{
			list-style: none;
			counter-increment: i;
			margin-bottom: lp(35, 640);
			line-height: 1.8em;
			letter-spacing: 0.1em;
			&:before{
				content: counter(i)'/ ';
				margin-left: -1.5em;
			}
		}
		.watchvideo{
			@include Item(182, 43, 0, 0, 0, 0, 640);
			margin-top: em(5, 37);
			margin-left: em(8, 37);
			position: relative;
			display: inline-block;
			img{
				@include SubItem();
				height: auto;
			}
		}
	}
	.sport{
		@include Item(531, 450, 56, 0, 50, 0, 640);
		position: relative;
		img{
			@include SubItem();
			height: auto;
		}
		ul{
			padding: 0;
			@include Item(640, 0, -450, 0, 0, 0, 531);
			position: relative;
			height: auto;
			li{
				@include Item(160, 140, 0, 0, 0, 0, 531);
				position: relative;
				display: inline-block;
				.text{
					vertical-align: bottom;
					.highlight{
						color: #8fc422;
					}
				}
			}
		}
	}
	.sport-text{
		color: #00631a;
		padding: 0 1.5em 0 1.5em;
		margin-bottom: lp(45, 640);
		p{
			color: #636363;
		}
	}


	.merchandise-name{
		color: #00631b;
		margin-top: lp(120, 640);
		font-weight: 700;
		a{
			color: #00631b;
			white-space: nowrap;
			&:after{
				content:'';
				@include Item(27, 32, 10, 0, 10, 0, 320);
				position: relative;
				display: inline-block;
				background: url(../img/mobile-arrow.png) 0 0/cover;
				transform: translateX(0%) translateY(15%);
				@include animation(
					arrow-ani 0.75s infinite linear 
				);
			}
		}
	}
	.merchandise-text{
		color: #626262;
		margin-top: lp(70, 640);
		font-weight: 300;
	}
	.merchandise{
		padding: 0;
		margin: lp(111, 640) 0 0;
		li{
			list-style: none;
			@include Item(640, 237, 0, 0, 71, 0, 640);
			position:relative;
			figure{
				@include Item(339, 237, 0, 0, 0, 0, 640);
				left:0;
				top:0;
				img{
					@include SubItem();
					height: auto;
				}
			}

			&+li{
				margin-top: lp(32, 640);
			}
			a{
				@include Item(150, 0, 87, 0, 388, 0, 640);
				color: #00631b;
				display: inline-block;
				&:after{
					content:'';
					@include Item(27, 32, 10, 0, 10, 0, 150);
					position: relative;
					display: inline-block;
					background: url(../img/mobile-arrow.png) 0 0/cover;
					transform: translateX(0%) translateY(15%);
					@include animation(
						arrow-ani 0.75s infinite linear 
					);
				}
			}
		}
	}

	.bkall{
		@include Item(522, 239, 98, 0, 61, 0, 640);
		position:relative;
		img{
			@include SubItem();	
			height: auto;
		}
	}
	footer{
		@include Item(640, 489, -1, 0, -1, 0, 640);
		position: relative;
		aside{
			@include SubItem();	
			color: #00631b;
			font-weight: 300;
		}
	}
}

@include keyframes( arrow-ani )
{
    0% {
		transform: translateX(0%) translateY(15%);
    }
    70% {
		transform: translateX(30%) translateY(15%);
    }
    80% {
		transform: translateX(10%) translateY(15%);
    }
    100% {
		transform: translateX(0%) translateY(15%);
    }
}
