#mobile{
	background-size: 100% auto;
	background-position: center top;
	background-image: url(../img/mobile-background.jpg);
	position: relative;
	width: auto;

	.avatar{
		border: 3px solid #00631b;
		border-radius: 50%;
		@include Item(100, 100, 405, 0, 42, 0, 640);
		img{
			border-radius: 50%;
			@include SubItem();
		}
	}

	.welcome{
		color: #00631b;
		margin-top: lp(405, 640);
		margin-left: lp(171, 640);
		line-height: 1.5;
		font-weight: 300;
	}

	.type-title{
		color: #00631b;
		margin-top: lp(135, 640);
		line-height: 1.5;
		font-weight: 300;
	}

	.girl{
		margin-top: lp(66, 640);
		margin-left: lp(203, 640);
		@include Item(229, 338, 66, 0, 203, 0, 640);
		position: relative;
		img{
			@include SubItem();
		}
	}
	.expert{
		@include Item(640, 584, 16, 0, -1, 0, 640);
		position: relative;
		img{
			@include SubItem();
		}
	}

	.description{
		margin: lp(75, 640) lp(55, 640);
		color: #636363;
		line-height: em(58,37);
	}
	.many-collapse{
		margin-top: lp(-100, 640);
	}
	.collapse-btn{
		// margin: lp(77, 640) lp(87, 640);
		@include Item(391, 62, 11, 0, 48, 0, 640);
		cursor: pointer;
		margin-bottom: lp(62, 640);
		position: relative;		
		font-weight: 300;
		background: url(../img/collapse-bar.png) no-repeat;
		label{
			@include SubItem();			
			line-height: em(60,37);
			padding-left: lp(28, 640);
			color: #fff;
			text-decoration: none;
			font-weight: 300;

			&:after{
				transition: transform 0.3s linear 0s;
				@include Item(84, 84, -11, 0, 355, 0, 391);
				content: '';
				background: url(../img/collapse-btn.png) no-repeat center/cover;
			}
		}
	}
	.recommend-title{
		@include Item(524, 63, 139, 0, 48, 0, 640);
		position: relative;
		font-weight: 300;
		background: url(../img/mobile-analytic-title.png) no-repeat 0 0/100% auto;
		span{
			@include SubItem();			
			line-height: em(70,37);
			padding-left: lp(28, 640);
			color: #fff;
		}
	}
	.collapse-container{
		.collapse-content{
			margin-top: 0;
			opacity: 0;
			height: 0;
			transition: height 0s linear 0.25s, opacity 0.25s linear 0s;
		}

		input:checked ~ .collapse-btn label:after{
			transform: rotateX(-180deg);
		}

		input:checked ~ .collapse-content{
			height: auto;
			min-height: 5em;
			opacity: 1;
			margin-top: lp(87, 640);
			transition: margin-top 0s linear 0s, height 0s linear 0s, opacity 0.25s linear 0s;
		}
	}
	footer{
		@include Item(640, 489, -1, 0, -1, 0, 640);
		position: relative;
		aside{
			@include SubItem();	
			color: #00631b;
			font-weight: 300;
		}
	}
}
