#step3{
	.field{
		@include Item(776, 64, 300, 0, 249, 0);
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(630, 119, 577, 0, 227, 0, 1080);
		}
		input{
			@include SubItem();
			background: none;
			border: 0;
			font-family:Arial;
			color: #7d7d7d;
			text-align: left;
			padding: 0 0.5em;
			letter-spacing: vw3840(4);
		}
	}
	.word{
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(1080, 0, 325, 0, 1, 0, 1080);
			color: #00631a;
			font-weight: 600;

			span{
				@include SubItem();
			}
		}
	}
	.keypad{
		.key{
			font-weight: 300;
			color: #00631a;
			span, img{
				@include SubItem();
				&.hover{
					opacity: 0;
				}
			}
			span{
				border-radius: 50%;
				border: 5px solid #00631a;
				line-height: 130%;
			}

			// &:hover{
			// 	span{							
			// 		@include animation(
			// 			activeText 0.3s 1 linear forwards
			// 		);
			// 	}
			// 	.hover{
			// 		@include animation(
			// 			activeImage 0.3s 1 linear forwards
			// 		);
			// 	}
			// }

			&:active{
				span{							
					color: #fff;
					background-color: #00631a;
				}
				.hover{
					opacity: 1;
				}
			}
			span:active{
				color: #fff;
				background-color: #00631a;
			}
			.hover:active{
				opacity: 1;
			}
			@include Item(110, 110, 387, 0, 240, 0);
			@media screen and (max-width: #{$screen-md-num}px) {
				@include Item(181, 181, 752, 0, 227, 0, 1080);
			}

			&.key2{
				@include Item(110, 110, 387, 0, 376, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 752, 0, 451, 0, 1080);
				}
			}
			&.key3{
				@include Item(110, 110, 387, 0, 513, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 752, 0, 675, 0, 1080);
				}
			}
			&.key4{
				@include Item(110, 110, 387, 0, 649, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 954, 0, 227, 0, 1080);
				}
			}
			&.key5{
				@include Item(110, 110, 387, 0, 786, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 954, 0, 451, 0, 1080);
				}
			}
			&.key6{
				@include Item(110, 110, 516, 0, 240, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 954, 0, 675, 0, 1080);
				}
			}
			&.key7{
				@include Item(110, 110, 516, 0, 376, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1157, 0, 227, 0, 1080);
				}
			}
			&.key8{
				@include Item(110, 110, 516, 0, 513, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1157, 0, 451, 0, 1080);
				}
			}
			&.key9{
				@include Item(110, 110, 516, 0, 649, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1157, 0, 675, 0, 1080);
				}
			}
			&.key0{
				@include Item(110, 110, 516, 0, 786, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1361, 0, 451, 0, 1080);
				}
			}
			&.keyx{
				@include Item(110, 110, 387, 0, 922, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1361, 0, 227, 0, 1080);
				}
			}
			&.submit{
				@include Item(110, 110, 516, 0, 922, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1361, 0, 675, 0, 1080);
				}
			}
		}
	}
}
@include keyframes( activeText )
{
    0% {
		color: #00631a;
		background: rgba(0,0,0,0);
    }
    20% {
		color: #fff;
		background: #00631a;
    }
    100% {
		color: #00631a;
		background: rgba(0,0,0,0);
    }
}
@include keyframes( activeImage )
{
    0% {
		opacity: 0;
    }
    20% {
		opacity: 1;
    }
    100% {
		opacity: 0;
    }
}