#step1{
	#yes{
		color: #60821a;
		@include Item(192, 193, 383, 0, 371, 0);
		img{
			@include SubItem();
			&.hover{
				opacity: 0;				
			}
			transition-duration: 0.25s;
		}
		span{
			width: 100%;
			white-space: nowrap;
		}
		&:hover{
			img.hover{
				opacity: 1;
			}
		}
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(270, 270, 875, 0, 180, 0, 1080);
		}
	}
	#no{
		color: #60821a;
		@include Item(192, 193, 383, 0, 696, 0);
		img{
			@include SubItem();
			&.hover{
				opacity: 0;				
			}
			transition-duration: 0.25s;
		}
		span{
			width: 100%;
			white-space: nowrap;
		}
		&:hover{
			img.hover{
				opacity: 1;
			}
		}
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(270, 270, 875, 0, 635, 0, 1080);
		}
	}
	.question{
		color: #00631a;
		font-weight: 300;
		@include Item(1280, 0, 210, 0, 1, 0);
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(1080, 0, 576, 0, 1, 0, 1080);
			line-height: 1.8;
		}
		span{
			@include SubItem();
		}
	}
}