#step52{
	.word{
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(1080, 0, 275, 0, 1, 0, 1080);
			color: #00631a;
			font-weight: 300;

			span{
				@include SubItem();
			}
		}
	}
	.avatar{
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(138, 138, 266, 0, 172, 0, 1080);
			img{
				@include SubItem();
			}
		}
	}
	.terms{
		@include Item(1085, 474, 275, 0, 93, 0);
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(801, 1162, 446, 0, 142, 0, 1080);
		}

		article{
			@include SubItem();
			-webkit-overflow-scrolling: touch;
			overflow: auto;
			padding: lp(35) lp(35);
			background: #ececec;
			color: #00631a;
		}
		-webkit-overflow-scrolling: touch;

		.options{
			input{
				display: none;
				&:checked + span{
					color: #fff;
					background: #00631a;
				}
			}
			.check{
				>span{
					border: 3px solid #00631a;
					font-weight: 300;
					border-radius: 30px;
					border-radius: vw3840(30, 1080);
					transition-duration: 0.25s;
					padding: 0 0.5em;
				}
			}
		}
		ol{
			li+li{
				margin-top: 75px;
			}
		}
	}
	.next{
		@include Item(142, 61, 167, 0, 566, 0);
		margin-top: calc(50vh + #{lp(167-40)});
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(250, 100, 1662, 0, 420, 0, 1080);
		}
		color: #00631a;
		span{
			@include SubItem();
			color: #00631a;
			border: 3px solid #00631a;
		}
		&:active{
			span{
				color: #fff;
				background: #00631a;
				transition-duration: 0.25s;
			}
		}
	}

	.mCSB_dragger_bar{
		background: rgba(0,0,0,0.75);
	}
	.mCSB_1_scrollbar{
		// transform: scale(0.9);
	}
}